.chart-container {

    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;

}

.container {

    flex-basis: 100%;

}

#chart1 {
    
    background-color: bisque;

}